.font-primary {
  color: color(black);
}

.font-secondary {
  color: color(white);
}

.font-accent {
  color: color(blue);
}

.background-primary {
  background-color: color(blue);
}

.background-success {
  background-color: color(green);
}

.background-error {
  background-color: color(red);
}

.background-white {
  background-color: color(white);
}

.forecolor-primary {
  color: color(blue);
}

.forecolor-success {
  color: color(green);
}

.forecolor-error {
  color: color(red);
}

.forecolor-white {
  color: color(white);
}