.display-hide {
  display: none !important;
}

.hide-visibility {
  visibility: hidden;
}

.show-visibility {
  visibility: visible;
}

.display-show {
  display: block;
}

.show--inline {
  display: inline;
}

.show--inline-block {
  display: inline-block;
}

.show--flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.no-scroll {
  overflow: hidden;
}

.clear {
  clear: both;
  float: none;
}